
body {
    background-color: black;
    color: #21c121;
    
}

body, input {
    font-family: 'Jura', sans-serif;
    font-size: 16pt;
}

input {
    background: transparent;
    outline: none;
    border:0px;
}

input:focus {
    outline: none;
}

#command {
    width: 0px;
    height: 0px;
}

#fakeinput {
    display: block;
    min-width: 100px;
}

#fakeinput span, #carecont {
    display:inline-block;
}

#fakeinputtext {
    white-space: pre;
}

#caret {
    width: 9px;
    height: 20px;
    background-color: #21c121;
    position: relative;
    top: 0px;
    left: 2px;
    margin: 0px;
    padding: 0px;
}

#caretcont {
    display: inline-block;
    position: absolute;
    width: 0px;
    height: 0px;
}

#cmd {
    position: absolute;
}

#cmdcontainer {
    height: 30px;
}

#container {
    border: 1px solid black;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}

#container ::-webkit-scrollbar {
    background-color: black;
    border: 1px solid green;
}
#container ::-webkit-scrollbar-button {
    background-color: black;
    border: 1px solid #005701;
}
#container ::-webkit-scrollbar-track {
    background-color: black;
    border: 1px solid #005701;
}
#container ::-webkit-scrollbar-track-piece {
    background-color: black;
    border: 1px solid #005701;
}
#container ::-webkit-scrollbar-thumb {
    background-color: black;
    border: 1px solid #005701;
}
#container ::-webkit-scrollbar-corner {
    background-color: black;
    border: 1px solid #005701;
}
#container ::-webkit-resizer {
    background-color: black;
    border: 1px solid #005701;
}

#suggestions {
    color: #1a691a;
}

#screen {
    padding:5px;
    max-height:500px;
    overflow:auto;
}

p {
    -webkit-margin-before:0.5em;
    -webkit-margin-after:0.5em;
}

@keyframes blink {
  50% {
    opacity: 0.0;
  }
}
@-webkit-keyframes blink {
  50% {
    opacity: 0.0;
  }
}
.blink {
  animation: blink 1s step-start 0s infinite;
  -webkit-animation: blink 1s step-start 0s infinite;
}


